/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset */
body {
	font-family: 'Lucida Grande',Lucida,Verdana,Arial,Helvetica,sans-serif;
	color: #5F5F5F; /* Default grey from global website */
	font-size: 62.5%;
}
h1, h2, h3, h4, h5 { font-size: 5em; color: #1F5075;/* Dark blue */ font-weight: bold; }
h2, h3 { font-size: 2.5em; }
h4, h5 { font-size: 2em; }
.question { margin: 10px 0; }
#question_response { color: #DB4865;/* Bright pink */ font-size: 3em; }
.clear { clear: both;}
strong {font-weight: bold;}
p, li { font-size: 1.3em; margin: 10px 0; }
#global_outer { width: 500px; background: #b4e4ed url(../images/tab_bg.jpg) no-repeat top left; padding: 20px 10px 20px; }


